### Others ###
log/
**/log/
**/**/log/
**/**/**/log/

kahadb/
**/kahadb/
**/**/kahadb/
**/**/**/kahadb/

kahadb/
**/data/
**/**/data/
**/**/**/data/

### Maven Shade Plugin ###
**/dependency-reduced-pom.xml
**/**/dependency-reduced-pom.xml
**/**/**/dependency-reduced-pom.xml
**/**/**/**/dependency-reduced-pom.xml

## JRebel ##
src/main/resources/rebel.xml

account/src/main/resources/rebel.xml
account/account-entity/src/main/resources/rebel.xml
account/account-dao/src/main/resources/rebel.xml
account/account-service/src/main/resources/rebel.xml
account/account-app/src/main/resources/rebel.xml

commons/src/main/resources/rebel.xml
commons/commons-util/src/main/resources/rebel.xml
commons/commons-entity/src/main/resources/rebel.xml
commons/commons-dao/src/main/resources/rebel.xml
commons/commons-service/src/main/resources/rebel.xml

sms/src/main/resources/rebel.xml
sms/sms-app/src/main/resources/rebel.xml

### Intellij ###
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm

*.iml
**/*.iml
**/**/*.iml
**/**/**/*.iml

## Directory-based project format:
.idea/
**/.idea/
**/**/.idea/
**/**/**/.idea/

## File-based project format:
*.ipr
**/*.ipr
**/**/*.ipr
**/**/**/*.ipr

*.iws
**/*.iws
**/**/*.iws
**/**/**/*.iws

## Plugin-specific files:

# IntelliJ
out/
**/out/
**/**/out/
**/**/**/out/

# mpeltonen/sbt-idea plugin
.idea_modules/
**/.idea_modules/
**/**/.idea_modules/
**/**/**/.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml
**/atlassian-ide-plugin.xml
**/**/atlassian-ide-plugin.xml
**/**/**/atlassian-ide-plugin.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
**/com_crashlytics_export_strings.xml
**/**/com_crashlytics_export_strings.xml
**/**/**/com_crashlytics_export_strings.xml
crashlytics.properties
**/crashlytics.properties
**/**/crashlytics.properties
**/**/**/crashlytics.properties
crashlytics-build.properties
**/crashlytics-build.properties
**/**/crashlytics-build.properties
**/**/**/crashlytics-build.properties


### Eclipse ###
*.pydevproject
**/*.pydevproject
**/**/*.pydevproject
**/**/**/*.pydevproject
.metadata
**/.metadata
**/**/.metadata
**/**/**/.metadata
.gradle
**/.gradle
**/**/.gradle
**/**/**/.gradle
bin/
**/bin/
**/**/bin/
**/**/**/bin/
tmp/
**/tmp/
**/**/tmp/
**/**/**/tmp/
*.tmp
**/*.tmp
**/**/*.tmp
**/**/**/*.tmp
*.bak
**/*.bak
**/**/*.bak
**/**/**/*.bak
*.swp
**/*.swp
**/**/*.swp
**/**/**/*.swp
*~.nib
**/*~.nib
**/**/*~.nib
**/**/**/*~.nib
.settings/
**/.settings/
**/**/.settings/
**/**/**/.settings/
.loadpath
**/.loadpath
**/**/.loadpath
**/**/**/.loadpath

# External tool builders
.externalToolBuilders/
**/.externalToolBuilders/
**/**/.externalToolBuilders/
**/**/**/.externalToolBuilders/

# sbteclipse plugin
.target
**/.target
**/**/.target
**/**/**/.target

### Maven ###
target/
**/target/
**/**/target/
**/**/**/target/
pom.xml.tag
**/pom.xml.tag
**/**/pom.xml.tag
**/**/**/pom.xml.tag
pom.xml.releaseBackup
**/pom.xml.releaseBackup
**/**/pom.xml.releaseBackup
**/**/**/pom.xml.releaseBackup
pom.xml.versionsBackup
**/pom.xml.versionsBackup
**/**/pom.xml.versionsBackup
**/**/**/pom.xml.versionsBackup
pom.xml.next
**/pom.xml.next
**/**/pom.xml.next
**/**/**/pom.xml.next
release.properties
**/release.properties
**/**/release.properties
**/**/**/release.properties


### OSX ###
.DS_Store
**/.DS_Store
**/**/.DS_Store
**/**/**/.DS_Store
.AppleDouble
**/.AppleDouble
**/**/.AppleDouble
**/**/**/.AppleDouble
.LSOverride
**/.LSOverride
**/**/.LSOverride
**/**/**/.LSOverride

# Icon must end with two \r
Icon


# Thumbnails
._*
**/._*
**/**/._*
**/**/**/._*

# Files that might appear on external disk
.Spotlight-V100
**/.Spotlight-V100
**/**/.Spotlight-V100
**/**/**/.Spotlight-V100
.Trashes
**/.Trashes
**/**/.Trashes
**/**/**/.Trashes

# Directories potentially created on remote AFP share
.AppleDB
**/.AppleDB
**/**/.AppleDB
**/**/**/.AppleDB
.AppleDesktop
**/.AppleDesktop
**/**/.AppleDesktop
**/**/**/.AppleDesktop
Network Trash Folder
**/Network Trash Folder
**/**/Network Trash Folder
**/**/**/Network Trash Folder
Temporary Items
**/Temporary Items
**/**/Temporary Items
**/**/**/Temporary Items
.apdisk
**/.apdisk
**/**/.apdisk
**/**/**/.apdisk


### Windows ###
# Windows image file caches
Thumbs.db
**/Thumbs.db
**/**/Thumbs.db
**/**/**/Thumbs.db
ehthumbs.db
**/ehthumbs.db
**/**/ehthumbs.db
**/**/**/ehthumbs.db

# Folder config file
Desktop.ini
**/Desktop.ini
**/**/Desktop.ini
**/**/**/Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/
**/$RECYCLE.BIN/
**/**/$RECYCLE.BIN/
**/**/**/$RECYCLE.BIN/

# Windows Installer files
*.cab
**/*.cab
**/**/*.cab
**/**/**/*.cab
*.msi
**/*.msi
**/**/*.msi
**/**/**/*.msi
*.msm
**/*.msm
**/**/*.msm
**/**/**/*.msm
*.msp
**/*.msp
**/**/*.msp
**/**/**/*.msp

# Windows shortcuts
*.lnk
**/*.lnk
**/**/*.lnk
**/**/**/*.lnk


### Linux ###
*~

# KDE directory preferences
.directory≈
**/.directory≈
**/**/.directory≈
**/**/**/.directory≈

### Eclipse ###
*.pydevproject
.metadata
.gradle
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath

# Eclipse Core
.project

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# JDT-specific (Eclipse Java Development Tools)
.classpath

# Java annotation processor (APT)
.factorypath

# PDT-specific
.buildpath

# sbteclipse plugin
.target

# TeXlipse plugin
.texlipse

#Sts
.springBeans
